#TransactionListCellVBox Label {
    -fx-font-family: "Courier New";
    -fx-font-size: 0.8em;
}
#TransactionListCellVBox Label.positiveAmount {
    -fx-fill: darkgreen;
}
#TransactionListCellVBox Label.negativeAmount {
    -fx-fill: darkred;
}

.select-icon {
    -fx-background-color: ghostwhite;
    -fx-text-alignment: center;
    -fx-fit-to-height: true;
}