#TransactionListCellVBox Label {
    -fx-font-family: "Monaco";
    -fx-font-size: 0.8em;
}
#TransactionListCellVBox Label.positiveAmount {
    -fx-fill: darkgreen;
}
#TransactionListCellVBox Label.negativeAmount {
    -fx-fill: darkred;
}